name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

env:
  FORCE_COLOR: 2
  NODE_COV: 24 # The Node.js version to run coverage tests on

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
      - run: npm ci
      - run: npm run lint

  test:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
          - 24

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run build --if-present

      - name: Run Jest
        run: npm run test:jest
        if: matrix.node != env.NODE_COV

      - name: Run Jest with coverage
        run: npm run test:jest -- --coverage
        if: matrix.node == env.NODE_COV

      - name: Upload Test coverage
        if: always() && matrix.node == env.NODE_COV
        uses: actions/upload-artifact@v5
        with:
          name: junit
          path: |
            junit.xml

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: Event File
          path: ${{ github.event_path }}
